
/*words*/
section p {
	clear: left;
	position: absolute;
	
	left: 15%;
	top: 71%;	
	
	color: #FAB84F;
	
	z-index:1;
	
	width: 280px;
	
	background:black url(../photos/calmgriptape.jpg) top left;
	border-radius: 50px;
	padding-top:40px;
	padding-bottom:40px;
}

/* paragraphs */
#p1{
	position: absolute;
	left: 10%;
	top: 538px;
}

#p2 {
	position: absolute;
	left: 66%;
	top: 1160px;
}

#p3 {
	position: absolute;
	left: 10%;
	top: 1620px;
}

#p4 {
	position: absolute;
	left: 66%;
	top: 2080px;
}

/* wood backgrounds */
#bwfirst img {
    clear:left;
	position: absolute;
	
	left: 9.19%;
	top: 538.5px;	
	
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	
	height: 270px;
	width: 300px;
	
	z-index:-1;
}

#bwsecond img {
    clear:left;
	position: absolute;
	
	left: 65.2%;
	top: 1160px;	
	
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	
	height: 166px;
	width: 300px;
	
	z-index:-1;
}

#bwthird img {
    clear:left;
	position: absolute;
	
	left: 9.19%;
	top: 1620px;	
	
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	
	height: 167px;
	width: 300px;
	
	z-index:-1;
}

#bwforth img {
    clear:left;
	position: absolute;
	
	left: 65.2%;
	top: 2080px;	
	
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	
	height: 254px;
	width: 300px;
	
	z-index:-1;
}

/*to help the paragraphs*/

#compphoto1 img {
	clear:left;
	position: absolute;
	
	left: 46.2%;
	top: 500px;	

	
	height: 50%;
	width: 38%;
	
	border: 5px solid gray;
}

#compphoto2-1 img {
	clear:left;
	position: absolute;
	
	left: 10.2%;
	top: 1060px;	

	height: 50%;
	width: 15%;
	
	border: 5px solid gray;
	
}#compphoto2-2 img {
	clear:left;
	position: absolute;
	
	left: 25.2%;
	top: 1060px;	

	height: 50%;
	width: 15%;
	
	border: 5px solid gray;
	
}#compphoto2-3 img {
	clear:left;
	position: absolute;
	
	left: 40.2%;
	top: 1060px;	

	height: 50%;
	width: 15%;
	
	border: 5px solid gray;
}

#compphoto3 img {
	clear:left;
	position: absolute;
	
	left: 51.2%;
	top: 1560px;	

	
	height: 40%;
	width: 33%;
	
	border: 5px solid gray;
	
}

#compphoto4 img {
	clear:left;
	position: absolute;
	
	left: 13.2%;
	top: 2080px;	

	
	height: 40%;
	width: 30%;
	
	border: 5px solid gray;
	
}
/*especially for laqure*/

table {

	float: left;
	
	width: 99%;
	position: absolute;
	
	top: 0%;
	left: 0%;
	
	height: 2800px;
	z-index: -1;
	border-left: 5xp solid black;
	

}

footer {
	clear: left;

	color: #FAB84F;
	font-family: "Magneto", Arial, sans-serif;

	
	display: block;
	position: absolute;
	
	top: 2500px;
	left: 43%;
}

#landg {
	text-shadow: black 1px 1px 0px,
				 #000000 5px 5px 10px;
}