/*first paragraph*/
#firstinfo {
	clear: left;
	position: absolute;
	
	right: 15%;
	top: 73%;	
	
	color: #FAB84F;
	
	z-index:1;
	
	width: 280px;
	
	background:black url(../photos/calmgriptape.jpg) top left;
	border-radius: 50px;
	padding-top:20px;
	padding-bottom:50px;
}

#bwfirst img {
    clear:left;
	position: absolute;
	
	right: 14.2%;
	top: 71%;	
	
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	
	height:1120px;
	width: 300px;
	
	z-index:-1;
}

